nav ul li {
  display:inline-block;
}
nav.context{
  background-color: red;

}
.context{
  background-color: green;
}

input {
  padding: 8px;
  margin: 8px;
  box-sizing: border-box;
}
label {

}
.clear-right{
  float:left;
  clear: right;
  width: 100%;
}
.submit{
  float: left;
}
