nav ul li {
  display:inline-block;
}
nav.context{
  background-color: red;

}
.context{
  background-color: green;
}

input {

}
label {

}
.clear-righ{
  float:left;
  clear: right;
  width: auto;
}
.submit{
  float: left;
}
